includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
        
    
    # Level of rule options - the higher the stricter
    level: 5
    
    # Ignore errors
    ignoreErrors:
        - '#Variable \$[a-zA-Z_][a-zA-Z0-9_]* might not be defined#'
    
    # Exclude files
    excludePaths:
        - tests/bootstrap.php (?)
        - src/Console/Commands/RebuildNestedSetCommand.php
    
    # Check missing typehints
    # checkMissingIterableValueType: false
    # checkGenericClassInNonGenericObjectType: false
    
    # Laravel specific
    checkOctaneCompatibility: true
    noUnnecessaryCollectionCall: true
    treatPhpDocTypesAsCertain: false
    noUnnecessaryCollectionCallOnly: []
    noUnnecessaryCollectionCallExcept: []
    
    # Pest specific
    # stubFiles:
    #     - vendor/pestphp/pest/stubs/Laravel.php